* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(240deg, rgba(89, 0, 255, 0.4), rgb(0, 0, 0) 100.71%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display:flex;   
  justify-content: center;
  align-items: center;
  flex-wrap:wrap; 
  min-width: 320px;
}

@media screen and (min-width: 319.98px) {
  .container{ max-width: 320px;}
}
@media screen and (min-width: 424.98px) {
  .container{ max-width: 424.98px;}
}
@media screen and (min-width: 666.98px) {
  .container{ max-width: 600px;}
}

@media screen and (min-width: 767.98px) {
  .container{ max-width: 720px;}
}
@media screen and (min-width: 1023.98px) {
  .container{ max-width: 800px; } 
}
@media screen and (min-width: 1440px) {
  .container{ max-width: 1200px;}  
}
.square{
  width: 15px;
  height: 15px;
  background: rgb(216, 216, 216);
  opacity: 0.1;
  margin:1px;
  box-shadow: 0 0 2px #000;
  transition: all 30s ease-in-out 0s;
  cursor: pointer;

}
.square:hover, .square:active{
  transition-duration: 0.0s;
  transform: scale(1.1 , 1.1);
  cursor: pointer;
}